.Calendar {
    text-align: center;
}
.Calendar table {
    margin: auto;
    padding-top: 7px;
}
.Calendar th {
    font-size: 16px;
}
.CalendarPopup__wrap {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}
.CalendarPopup__popup {
    width: 300px;
    background-color: white;
    margin: auto;
    padding: 10px;
}

.CalendarPopup__wrap-hidden {
    display: none;
}
.CalendarPopup__popup h1, .CalendarPopup__popup h2, .Calendar th {
    font-family: "Helvetica";
    font-weight: normal;
}
.CalendarPopup__popup h1 {
    font-size: 18px;
}
.CalendarPopup__popup h2 {
    font-size: 16px;
}
.CalendarPopup__popup button {
    float: right;
    background-color: rgb(228, 202, 202);
    border: rgb(187, 166, 166);
    outline: none;
}
.CalendarPopup__popup button:hover {
    background-color:rgb(187, 166, 166);
    cursor: pointer;
}