.CalendarDay {
    font-weight: normal;
    font-size: 16px;
    font-family: "Helvetica";
    line-height: 25px;
}
.CalendarDay_wrap {
    display: inline-block;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 5px;
}
.CalendarDay_wrap:hover {
    cursor: pointer;
    background-color: rgb(207, 207, 207);
}
.CalendarDay_wrap-notActive:hover {
    cursor: default;
    background-color: white;
}
.CalendarDay-notActive {
    color: grey;
}
.CalendarDay_wrap-currentDay {
    background-color: rgb(156, 188, 214);
}
.CalendarDay-weekend {
    color: red;
}