.CalendarTitle_wrap {
    display: inline-block;
    width: 200px;
    text-align: center;
}
.CalendarTitle {
    font-weight: normal;
    font-size: 20px;
    font-family: "Helvetica";
    display: inline;
}