.treeHTML details {
  display: block;
}
.treeHTML div {
  position: relative;
  margin: 0 0 0 .5em;
  padding: 0 0 0 1.2em;
}
.treeHTML summary {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.treeHTML details[open] summary {
  outline: none;
}
body {
    background-color: lightgrey;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 15px;
}
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 3px;
}
.form-class input {
    margin: 10px 0px 10px 0px;
}
.form-class textarea {
    margin-top: 10px;
}