#popup {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    display: none;
    z-index: 1;
}
#popup-content {
    width: 400px;
    background-color: beige;
    margin: auto;
    text-align: center;
}
#note-title {
    width: 380px;
    margin: 10px 0px 10px 0px;
}
#note-details {
    width: 380px;
    height: 100px;
    margin: 10px 0px 10px 0px;
}
#popup input[type=submit], #popup input[type=button] {
    margin-bottom: 10px;
}
input[type=text], textarea {
    cursor: default;
}
#edit-note, #save-note, #save-changes {
    display: none;
}
ol {
    list-style: none;
    padding: 0;  
}
ol div {
    width: 300px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: beige;
}