.tab-headers {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 4px 0;
}
.tab {
    display: inline;
    padding: 5px;
}
.tab:hover {
    cursor: pointer;
}
.selected-tab {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid #E3E8ED;
}
.selected-content {
    display: block;
    border-top: 1px solid black;
}
.hidden-content {
    display: none;
}
.not-available-tab {
    color: grey;
}
.not-available-tab:hover {
    cursor: default;
}