.InfoPopup__wrap {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}
.InfoPopup__popup {
    width: 300px;
    background-color: white;
    margin: auto;
    padding: 10px;
}

.InfoPopup__wrap-hidden {
    display: none;
}