.container {
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: table;
    width: 100%;
}
.main-container-without-footer {
    float: left;
    width: 100%;
    background-color: white;
}
@media (min-width: 360px) {
    .container {
      width: 360px;
    }
    #banner {
        width: 300px;
        height: 180px;
    }
    #h-p {
        margin-top: 0px;
    }
    aside {
        height: 0; overflow: hidden;
    }
    .main-container, .aside-container, .info-container, .content-container, .archive-photos-container, .archive-text-container, .archive-photo-col, .review-photo, .review, header {
        float: left;
    }
    .main-container {
        width: 100%;
    }
    .aside-container {
        width: 100%;
    }
    header {
        width: 60%;
    }
    .menu {
        width: 100%;
    }
    .info-container {
        width: 47.5%;
    }
    .navigation {
        width: 100%;
    }
    nav a {
        padding-left: 20px;
    }
    footer {
        width: 360px;
        margin-bottom: -10px;
    }
    footer p {
        line-height: 17px;
    }
    footer + img {
        width: 360px;
    }
    .archive-photos-container {
        width: 100%;
    }
    .archive-photo-col {
        width: 99%;
    }
    .review-photo {
        width: 30%;
    }
    .review {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
    #banner {
        width: 690px;
        height: 414px;
    }
    #h-p {
        margin-top: 0px;
    }
    aside {
        height: 0; overflow: hidden;
    }
    .main-container, .aside-container, .info-container, .content-container, .archive-photos-container, .archive-text-container, .archive-photo-col, .review-photo, .review, header {
        float: left;
    }
    .main-container {
        width: 100%;
    }
    .aside-container {
        width: 100%;
    }
    .hundr-width {
        width: 100%;
    }
    header {
        width: 52%;
    }
    .menu {
        width: 100%;
    }
    .info-container {
        width: 23%;
    }
    .navigation {
        width: 77%;
        float: right;
    }
    nav {
        text-align: center;
    }
    .review-photo {
        width: 14.93%;
    }
    .review {
        width: 85.07%;
    }
    footer {
        width: 750px;
        margin-bottom: -1px;
    }
    footer p {
        line-height: 60px;
    }
    footer + img {
        width: 750px;
    }
    .archive-photos-container {
        width: 62.3%;
    }
    .archive-text-container {
        width: 37.7%;
    }
    .archive-photo-col {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
    #banner {
        width: 640px;
        height: 384px;
    }
    #divider {
        visibility: hidden;
    }
    #h-p {
        margin-top: -40px;
    }
    .aside-button {
        visibility: hidden;
    }
    aside {
        overflow: visible;
    }
    .main-container, .aside-container, .info-container, .menu, .content-container, .archive-photos-container, .archive-text-container, .archive-photo-col, .review-photo, .review, .header-container {
        float: left;
    }
    .main-container {
        width: 74.36%;
        overflow: visible;
    }
    .aside-container {
        width: 25.64%;
    }
    .menu {
        width: 19.54%;
    }
    .info-container {
        width: 100%;
    }
    .navigation {
        width: 100%;
    }
    .content-container {
        width: 80.46%;
    }
    .archive-photos-container {
        width: 62.3%;
    }
    .archive-text-container {
        width: 37.7%;
    }
    .archive-photo-col {
        width: 50%;
    }
    .review-photo {
        width: 14.93%;
    }
    .review {
        width: 85.07%;
    }
    .hundr-width {
        width: 100%;
    }
    .header-container {
        width: 100%;
    }
    nav {
        text-align: right;
        margin-top: 27px;
    }
    footer {
        width: 870px;
        margin-bottom: 0;
    }
    footer p {
        line-height: 60px;
    }
    footer + img {
        width: 870px;
    }
    header {
        width: 33.33%;
    }
}