body {
    background: url(../images/triangles.png) repeat-x,
        url(../images/background.jpg);
    margin: 0;
    padding: 0;
}
img {
    vertical-align:bottom;
}
#sitename {
    width: 220px;
    float: right;
}
#sitename div {
    height: 98px;
    background-color: #ff6647;
    text-align: center;
}
#sitename h1 {
    padding: 0;
    margin: 0;
    line-height: 98px;
    font-weight: normal;
    font-size: 40px;
    font-family: "Oswald Regular";
    text-transform: uppercase;
    -moz-transform: scale(1, 1.2);
    -webkit-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
}
#sitename a {
    text-decoration: none;
    color: white;
}
header {
    margin-top: 70px;
}
header img {
    float: right;
}
#avatar {
    width: 170px;
    height: 174px;
    background-color: #ff6647;
    text-align: center;
}
#avatar img {
    margin-top: 15px;
}
#user-info {
    margin-top: 36px;
    text-align: right;
    color: #ff6647;
}
#user-info a {
    text-decoration: none;
    color: #ff6647;
    font-family: "Oswald Regular";
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 23px;
}
#user-info p {
    margin: 0;
    font-size: 14px;
    font-family: "Roboto Regular";
    line-height: 1.2;
    -moz-transform: scale(1, 1.2);
    -webkit-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
}
.circle {
	width: 23px;
    height: 23px;
	background: #79828c;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    float: left;
    margin-left: 3px;
}
.circle a {
    display: table;
    margin: auto;
}
.circle span {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
}
#social {
    float: right;
    margin-top: 10px;
}

.horizontal-line {
    background-color: #f0f0f0;
    height: 1px;
    width: auto;
}
.horizontal-line-nav-margin {
    margin-top: -5px;
    margin-bottom: -1px;
}
.horizontal-line-margin {
    margin-top: 40px;
    margin-bottom: 40px;
}
nav a {
    text-decoration: none;
    color: #828a94;
    font-size: 16px;
    font-family: "Oswald Regular";
    text-transform: uppercase;
    line-height: 2.571;
}
#content {
    margin-left: 30px;
    margin-right: 30px;
}
#h-p {
    font-size: 14px;
    font-family: "Roboto Regular";
    color: #ff6647;
    line-height: 1.2;
    -moz-transform: scale(1, 1.2);
    -webkit-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
}

#content h1 {
    font-weight: normal;
    margin-top: -5px;
    font-size: 54px;
    font-family: "Oswald Regular";
    color: #79828c;
    text-transform: uppercase;
    line-height: 1.2;
    margin-left: -3px;
}

h2 {
    font-weight: normal;
    margin: 0;
    font-size: 22px;
    font-family: "Oswald Regular";
    color: #79828c;
    text-transform: uppercase;
    text-align: left;
}

article > h2 {
    margin-top: 40px;
}
.archive-text-container {
    margin-top: -5px;
}
.content-button {
    width: 100px;
    height: 36px;
    background-color: #ff6647;
    text-align: center;
}
.content-button a {
    text-decoration: none;
    font-size: 15px;
    font-family: "Oswald Light";
    text-transform: uppercase;
    color: white;
    line-height: 36px;
}
article + .content-button {
    margin-top: 41px;
}
#banner {
    margin-top: -16px;
    margin-left: 1px;
}
h3 {
    font-weight: normal;
    font-size: 14px;
    font-family: "Roboto Light";
    color: #ff6647;
    -moz-transform: scale(1, 1.2);
    -webkit-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
    padding: 0;
    margin: 0;
}
.archive-text-container h3 {
    padding-top: 17px;
    padding-bottom: 6px;
}
.archive-text-container p, article p {
    font-size: 14px;
    font-family: "Roboto Light";
    color: #79828c;
    -moz-transform: scale(1, 1.2);
    -webkit-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
}
article p {
    padding-top: 10px;
}
.archive-text-container p {
    padding-top: 10px;
    padding-bottom: 10px;
}
.archive-photo-col {
    margin-bottom: 28px;
}
.archive-text-container .content-button {
    margin-top: 37px;
    margin-bottom: 40px;
}
.photo-button {
    float: left;
    width: 40px;
    height: 39px;
    background-color: #bcbcbc;
    border: none;
    color: white;
    font-size: 14px;
}
.photo-button:hover {
    cursor: pointer;
}
.photo-button:focus {
    outline: none;
}
#review-div {
    margin-bottom: 40px;
    margin-top: 40px;
}
.review-row {
    margin-bottom: 32px;
    margin-top: 29px;
}
.signature {
    width: 130px;
    height: 39px;
    background-color: #f3f3f3;
    float: left;
}
.signature p {
    color: rgb(143, 143, 143);
    margin: 0;
    font-size: 11px;
    font-family: "Roboto Regular";
    -moz-transform: scale(1, 1.2);
    -webkit-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
    line-height: 39px;
    padding-left: 10px;
}
.review {
    text-align: left;
}
.review p {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Oswald Regular";
    color: #ff6647;
    text-transform: uppercase;
}
.review blockquote {
    font-size: 16px;
    font-family: "Roboto Italic";
    color: rgb(143, 143, 143);
    line-height: 1.538;
    padding: 0;
    margin: 0;
}
.review-row {
    display: table;
}
footer {
    background-color: #ff6647;
}
footer p {
    font-size: 14px;
    font-family: "Oswald Regular";
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}
aside {
    width: 270px;
    float: right;
}
input[type=search] {
    background-color: #ff6647;
    border: none;
    width: 230px;
    height: 43px;
    margin: 0;
    font-size: 14px;
    color: white;
    padding-left: 10px;
}
#search-button {
    background-color: white;
    margin: 0;
    width: 40px;
    height: 43px;
    border: none;
    color: #ff6647;
}
#search-button:hover {
    cursor: pointer;
}
input:focus {
    outline: none;
}
input[type=search]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
}
input[type=search]::-moz-placeholder { /* Firefox 19+ */
    color: white;
}
input[type=search]:-ms-input-placeholder { /* IE 10+ */
    color: white;
}
input[type=search]:-moz-placeholder { /* Firefox 18- */
    color: white;
}
aside .horizontal-line {
    background-color: white;
    opacity: 0.2;
}
aside p, aside a {
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Roboto Light";
    -moz-transform: scale(1, 1.2);
    -webkit-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
}
#contact {
    background-color: #ff6647;
    padding: 24px 10px 13px 20px;
}
#contact h2 {
    color: white;
    font-size: 36px;
}
#contact h2 + .horizontal-line {
    margin-top: 13px;
}
#contact .horizontal-line + p {
    padding-top: 5px;
    padding-bottom: 8px;
}
#contact p + .horizontal-line {
    margin-bottom: 22px;
}
#contact .circle {
    margin: 0;
    background-color: white;
    width: 28px;
    height: 28px;
    float: left;
    margin-right: 8px;
    text-align: center;
}
#contact .circle i {
    line-height: 28px;
    font-size: 14px;
    color: #ff6647;
}
.aside-title {
    background-color: white;
    padding: 17px 0px 18px 20px;
}
.aside-title h2 {
    color: #ff6647;
    font-size: 24px;
}
#aside-content {
    background-color: #ff6647;
    padding: 21px 20px 30px 20px;
}
#aside-content .horizontal-line {
    margin-top: 11px;
    margin-bottom: 10px;
}
#aside-form {
    padding: 21px;
    padding-top: 11px;
    background-color: #ff6647;
}
.inputs, #aside-form textarea{
    background-color: #ef4b2a;
    border: 1px solid #ff7154;
    margin-top: 9px;
    width: 227px;
    height: 31px;
    color: white;
    padding-left: 10px;
    font-size: 12px;
    font-family: "Roboto Light";
}
#aside-form textarea {
    resize: none;
    width: 223px;
    height: 99px;
}
#aside-form textarea:focus {
    outline: none;
}
#submit-button {
    background-color: #ef4b2a;
    width: 80px;
    height: 35px;
    border: 1px solid #ff7154;
    margin-top: 9px;
    font-size: 16px;
    font-family: "Oswald Regular";
    color: white;
    text-transform: uppercase;
}
.inputs::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffa694;
    font-size: 12px;
    font-family: "Roboto Light";
}
.inputs::-moz-placeholder { /* Firefox 19+ */
    color: #ffa694;
    font-size: 12px;
    font-family: "Roboto Light";
}
.inputs:-ms-input-placeholder { /* IE 10+ */
    color: #ffa694;
    font-size: 12px;
    font-family: "Roboto Light";
}
.inputs:-moz-placeholder { /* Firefox 18- */
    color: #ffa694;
    font-size: 12px;
    font-family: "Roboto Light";
}
.aside-button {
    float: right;
    background-color: #ff6647;
    width: 80px;
    height: 35px;
    color: white;
    text-transform: uppercase;
    font-family: "Oswald Light";
    text-align: center;
    line-height: 35px;
    margin-top: 153px;
    border: none;
}
.aside-button:focus {
    outline: none;
}